<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div class="search-bar">
    <div class="left">
      <img (click)="resetBreeds()" src="./assets/images/logo.png" alt="logo"/>
      <p>Search for the best cats!</p>
    </div>
      <mat-form-field class="search-field">
        <mat-label>Select your breed</mat-label>
        <mat-select #breedSelect formControlName="breed" multiple (selectionChange)="onBreedChange($event, breedSelect)">
          <mat-option value="none">None</mat-option>
          @for (breed of breeds | async; track $index) {
            <mat-option [value]="breed.id">{{breed.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="images-limit">
        <mat-label>Limit</mat-label>
        <mat-select formControlName="limit">
          <mat-option [value]="5">5</mat-option>
          <mat-option [value]="10">10</mat-option>
          <mat-option [value]="20">20</mat-option>
          <mat-option [value]="50">50</mat-option>
          <mat-option [value]="100">100</mat-option>
        </mat-select>
      </mat-form-field>
        <mat-icon (click)="onSubmit()" class="search-icon" fontIcon="search">search</mat-icon>
  </div>
</form>


