.image-grid {
  display: flex;
  flex-wrap: wrap;
}

.col-lg{
  height: 300px;
  overflow: hidden;
  margin: 10px;
  border: 3px solid #ccc;
  border-radius: 10px;
  flex-basis: 30%;
}

.col-lg img{
  display:block;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

