.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-lg {
  height: 300px;
  overflow: hidden;
  margin: 20px 10px;
  border: 3px solid #ccc;
  box-shadow: rgba(230, 230, 230, 0.35) 0px 5px 15px;
  border-radius: 10px;
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loader {
  margin: 300px;
  width: 80px;
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: #ffa31a;
  -webkit-mask:repeating-linear-gradient(#000 0 5px,#0000 0 10px);
  animation: l35 1.5s infinite;
}
.loader:after {
  -webkit-mask:repeating-linear-gradient(#0000 0 5px,#000 0 10px);
  --s:-1;
}
@keyframes l35 {
  0%,
  10% {transform: translate(0) rotate(0)}
  35% {transform: translate(calc(var(--s,1)*50%)) rotate(0)}
  66% {transform: translate(calc(var(--s,1)*50%)) rotate(calc(var(--s,1)*180deg))}
  90%,
  100% {transform: translate(0) rotate(calc(var(--s,1)*180deg))}
}
